.form_container {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  gap: 16px;
  width: 452px;

}

.error_text {
  text-align: end;
  color: rgb(210, 250, 8);
  font-family: Montserat;
  font-weight: 200;
  font-size: 14px;
  line-height: 5px;
}

.form_container ::placeholder {
  color: #fff;
  font-family: Montserrat;
  font-size: 20px;
  font-weight: 500;
  line-height: 130%;
}

input:focus::placeholder {
  color: transparent;
}


@media(max-width: 1000px){
  .form_container {
    width: 410px;
  }
}
@media(max-width: 800px){
  .form_container {
    width: 294px;
  }
 
}
@media(max-width: 500px){
  .form_container {
    width: 100%;
    z-index: 1;
  }
}

