.navigation {
  margin: 80px 0 40px 0;
  display: flex;
  align-items: center;
}
.navigation div {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.navigation hr {
  flex: 1;
  border: none;
  border-top: 1px solid #ddd;
  margin-left: 32px;
}
.navigation span {
  padding: 8px 16px;
  color: #8b8b8b;
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  line-height: 126%;
  border-radius: 6px;
  border: 1px solid #ddd;
  cursor: pointer;
}

@media (max-width: 500px) {
  .navigation span {
    font-size: 14px;
  }
  .navigation hr {
    display: none;
  }
}
@media (max-width: 400px) {
  .navigation div {
    display: none;
  }
}
