@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

/* main styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: #282828;
  background-color: #fff;
  font-family: Montserrat;
}

.wrapper {
  width: 1440px;
  margin: 40px auto;
}

@media (max-width: 1000px) {
  .wrapper {
    width: 960px;
    margin: 20px auto;
  }
}
@media (max-width: 800px) {
  .wrapper {
    width: 728px;
  }
}
@media (max-width: 500px) {
  .wrapper {
    width: 440px;
  }
}
@media (max-width: 400px) {
  .wrapper {
    width: 320px;
  }
}

/* text styles */

h1 {
  color: #fff;
  font-size: 96px;
  font-weight: 700;
  line-height: 110%;
}

h2 {
  color: #282828;
  font-size: 64px;
  font-weight: 700;
  line-height: 110%;
}

h3 {
  font-size: 40px;
  font-weight: 600;
  line-height: 110%;
}

p {
  font-size: 20px;
  font-weight: 500;
  line-height: 130%;
}

/* Link */

.link {
  text-decoration: none;
  color: inherit;
}
