.banner {
  height: max-content;
  padding: 80px 0;
}
.banner div {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.banner_button {
  width: 20%;
}


@media (max-width: 1000px) {
  .banner {
    height: 634px;
  }
  .banner div h1 {
    font-size: 68px;
    width: 740px;
  }
  .banner_button {
    width: 30%;
  }
}
@media (max-width: 800px) {
  .banner {
    padding: 50px 20px;
    height: 600px;
  }
  .banner div h1 {
    font-size: 60px;
    width: 340px;
  }
  .banner div {
    gap: 24px;
  }
  .banner_button {
    width: 50%;
  }
}

@media (max-width: 500px) {
  .banner div h1 {
    font-size: 52px;
    width: 320px;
  }
  .banner_button {
    width: 70%;
  }
}
